#row {
  font-size: 1em;
  font-family: 'Montserrat', serif, sans-serif;
  text-align: uppercase;
  text-align: center;
}

#figure {
  float: center;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

#graph {
  float: center;
  width: 100%;
}
/* top nav / top hat */

.nav-top {
  color:#fff;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}
/* Hero/Splash area */

@media (max-width: 700px){
a:hover {
  background-color: #F73718;
}

a:visited {
  color: green;
}
