#headline {
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #1C41B0;
  border-top: 5px solid #1C41B0;
}

body {
  background-color: white;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: uppercase;
  text-align: center;
}

p {
  font-family: Georgia, serif, sans-serif;
  line-height: 180%;
  font-size: 1.25em;
  }

#row {
  font-size: 1em;
  font-family: 'Montserrat', serif, sans-serif;
  text-align: uppercase;
  text-align: center;
}

#chapter {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Montserrat', serif, sans-serif;
  text-align: uppercase;
  text-align: left;
  color: #1C41B0;
  border-bottom: 5px solid #1C41B0;
}

#figure {
  float: center;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

#graph {
  float: center;
  width: 75%;
}

#footer
{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: uppercase;
  text-align: center;
  color: #000000;
  border-top: 1px solid #1C41B0;
}

/* top nav / top hat */

.nav-top {
  color:#fff;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.red {
  color: #1C41B0;
}

/* Hero/Splash area */

.hero-container {
  position: relative;
  text-align:center;
  color: #fff;
}

.hero-image {
  width: 100%;
}

#caption {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 15%;
  width: 100%;
  background-color: #000;
  opacity: .7;
}

.hero-hed {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 6em;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 10px;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
}

/* Pull Quote */

.quote {
  font-family: 'Montserrat', sans-serif;
  color: #1C41B0;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid #1C41B0;
  border-bottom: 1px solid #1C41B0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-attribution {
  font-size: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: left;
  color: #1C41B0;
}

@media screen and (max-width: 700px){

  .hero-hed {
    font-size: 1.5em;
  }
}

.firstcharacter {
  color: #1C41B0;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

a:hover {
  background-color: #F73718;
}

a:visited {
  color: green;
}
